*{
    border: 0px solid red;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    width: 1080px;
    background-color:rgb(160, 160, 160);
}
.header-container{
    display: grid;
    grid-template-columns: 1fr;
    justify-content:  center;
    align-content: center;
    /* background-color:rgb(210, 210, 210); */
    width: 900px;
    width: 100%;
}
.header-container > h1{
    display: grid;
    justify-content:  center;
    align-content: center;
}
#add-new-entry > button{
    float: right;
    margin: 8px 16px;
    padding: 8px 16px;
    background-color:rgb(210, 210, 210);
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
}
#main-page{
    display: block;
}
#field-container{
    display: grid;
    grid-template-columns: 120px 100px 100px 180px 180px 180px 80px 80px;
    grid-auto-rows: 40px;
    justify-content:  center;
    align-content: center;
    width: 100%;
    grid-gap: 4px;
}
#field-container > div{
    display: grid;
    justify-content:  center;
    align-content: center;
    background-color:rgb(210, 210, 210);
    font-weight: bold;
}
#row-container{
    display: grid;
    grid-template-columns: 120px 100px 100px 180px 180px 180px 80px 80px;
    grid-auto-rows: 40px;
    justify-content:  center;
    align-content: center;
    width: 100%;
    grid-gap: 4px;
}
#row-container > div{
    display: grid;
    justify-content:  center;
    align-content: center;
    text-align: center;
}
#action-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content:  center;
    align-content: center;
    width: 100%;
}
#action-container > button{
    display: grid;
    justify-content: center;
    align-content: center;
    background-color: transparent;
    margin: auto;
    width: 30px;
    height: 30px;
}
#create-update-page{
    display: none;
}
#create-character-container{
    display: grid;
    margin: 45px 0;
    grid-template-columns: 100px 280px 240px 80px;
    grid-auto-rows: 30px;
    justify-content:  center;
    align-content: center;
    width: 100%;
    grid-gap: 4px;
}
.base-fields-tag, .character-link-tag, .slot-lvl-tag, .accessory-field{
    display: grid;
    align-content: center;
    text-align: left;
    font-weight: 600;
}
.character-link-tag, .slot-lvl-tag, .accessory-field{
    text-align: center;
}
.input-field{
    margin: auto;
}
.character-field-input, .attribute-field-input, .killer-field-input, .soul-trait-field-input,
.link-field-input, .slot-field-input{
    font-size: 16px;
    font-weight: 100;
    height: 24px;
    width: 260px;
    text-align: center;
}
.link-field-input{
    width: 200px;
}
.slot-field-input{
    width: 70px;
}
#create-accessory-container{
    display: grid;
    margin: 45px 0;
    grid-template-columns: 60px 160px 120px 320px 180px 40px;
    grid-auto-rows: 30px;
    justify-content:  center;
    align-content: center;
    width: 100%;
    grid-gap: 4px;
}
.accessory-field-input, .acc-attribute-field-input, .effect-field-input, .bonus-field-input{
    font-size: 16px;
    font-weight: 100;
    height: 24px;
    width: 260px;
    text-align: center;
}
.accessory-field-input{
    width: 140px;
}
.acc-attribute-field-input{
    width: 100px;
}
.effect-field-input{
    width: 300px;
}
.bonus-field-input{
    width: 160px;
}
.delete-accessory > button{
    background-color: transparent;
}
.trash-icon, .edit-icon{
    width: 24px;
    height: 24px;
    margin: 2px 0 0 0;
}
#add-return-container{
    display: grid;
    grid-template-columns: 240px 240px;
    justify-content:  center;
    align-content: center;
}
.add-update-return{
    display: grid;
}
.add-update-return > button{
    margin: auto;
    padding: 8px;
    width: 200px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
}
button{
    cursor: pointer;
}
img{
    pointer-events: none;
}
::-webkit-input-placeholder{
    font-family:'Courier New', Courier, monospace;
    font-style: italic;
    color: rgb(160, 160, 160);
    text-align: center;
}
:-moz-placeholder{
    font-family:'Courier New', Courier, monospace;
    font-style: italic;
    color: rgb(160, 160, 160);
    text-align: center;
}
::-moz-placeholder{
    font-family:'Courier New', Courier, monospace;
    font-style: italic;
    color: rgb(160, 160, 160);
    text-align: center;
}
::-ms-input-placeholder{
    font-family:'Courier New', Courier, monospace;
    font-style: italic;
    color: rgb(160, 160, 160);
    text-align: center;
}